@model FootballTeams.ViewModels.StadiumViewModel
@{
    ViewData["Title"] = "AddStadium";
}

<h2>Add Stadium</h2>

<div class="row">
    <div class="col-md-3">
        <form asp-action="AddStadium" method="post">
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="@Model.Capacity" class="control-label"></label>
                <input asp-for="@Model.Capacity" class="form-control" />
                <span asp-validation-for="@Model.Capacity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Add Stadium" class="btn btn-default" />
            </div>

            @Html.AntiForgeryToken()
        </form>
    </div>
</div>

@section Scripts
{
    @Html.Partial("_ValidationScriptsPartial")
}
